# Bibliothèques essentielles

# Extraction et manipulation des données

pandas==2.2.3
numpy==2.2.1
BeautifulSoup4
matplotlib==3.10.0
matplotlib-inline==0.1.7
seaborn==0.13.2
scikit-learn==1.2.2

# Visualisation
matplotlib==3.7.1
seaborn==0.12.2

# Feature engireering et wordcloud
matplotlib==3.7.1
seaborn==0.12.2
nltk==3.9.1
word_tokenize
stopwords
regex==2024.11.6
RegexpTokenizer
CountVectorizer
TfidfVectorizer
Frenchstemmer
WordNetlemmatizer
Wordcloud
PunktSentenceTokenizer
Statsmodels.api

# Modèles de machine learning
train_test_split
GridSearchCV
OneHotEncoder
TfidfVectorizer
SMOTE
RandomForestClassifier
lightgbm==4.5.0
LogisticRegression
Classification_report
confusion_matrix
accuracy_score


# Modele deep learning
Camembert
Flaubert
RNN ?


# Explicabilité du modèle
shap==0.41.0

